In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from IPython.display import display
#display all columns, jupyter notebook by default will display first 10 and last 10 columns only
pd.set_option('display.max_columns', None)

In [31]:
hotelBookings = pd.read_csv("D:\\databases\\hotel\\hotel_bookings.csv")

In [32]:
hotelBookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [33]:
print(hotelBookings.info(), '\n\n\n')
print('Info on null values in dataset:\n')
print(hotelBookings.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None



Info on null values in dataset:

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [34]:
# Cleaning the dataset
substitutes = {'children':0.0, 'country':'Unknown', 'agent':0.0, 'company':0.0}
hotelBookings.fillna(substitutes, inplace = True)

In [35]:
#meal has Undefined values set, that actually should be the same as SC, therefore they are set to SC
hotelBookings['meal'].replace(to_replace = 'Undefined', value = 'SC', inplace = True)

In [36]:
noGuests = list(hotelBookings.loc[hotelBookings['adults']+hotelBookings['children'] + hotelBookings['babies'] == 0].index)
noGuests

[2224,
 2409,
 3181,
 3684,
 3708,
 4127,
 9376,
 31765,
 32029,
 32827,
 34849,
 34855,
 37459,
 40392,
 40922,
 41020,
 41056,
 42452,
 42591,
 42871,
 42934,
 47166,
 47180,
 47444,
 49264,
 50701,
 50702,
 54025,
 54037,
 54047,
 54093,
 55809,
 60651,
 61244,
 61245,
 61249,
 62967,
 63796,
 64782,
 65907,
 65908,
 65909,
 65910,
 69668,
 72967,
 72968,
 76620,
 76985,
 77001,
 77003,
 77447,
 77998,
 78257,
 78586,
 78672,
 79077,
 79807,
 79808,
 80072,
 81481,
 82264,
 82265,
 82266,
 82267,
 83506,
 83810,
 84198,
 85490,
 85491,
 85539,
 85931,
 88017,
 88327,
 88328,
 88439,
 89359,
 89360,
 90930,
 91428,
 92814,
 92962,
 93204,
 93320,
 93397,
 93753,
 93754,
 94769,
 94821,
 95544,
 96599,
 96648,
 96810,
 98045,
 98046,
 98492,
 99260,
 99338,
 99774,
 99880,
 100273,
 100487,
 100563,
 100780,
 101329,
 101399,
 101401,
 101794,
 101804,
 101805,
 101957,
 102008,
 102054,
 102055,
 102129,
 102150,
 102155,
 102157,
 102185,
 102258,
 102296,
 102319,
 102611,
 102710,
 102805,
 102812,
 103264,
 103317,
 103714,
 103961,
 104145,
 104231,
 104516,
 105106,
 105185,
 105630,
 105726,
 105728,
 106556,
 106561,
 106562,
 106570,
 106647,
 106706,
 106833,
 107026,
 107027,
 107033,
 107154,
 107157,
 107510,
 107543,
 107594,
 107676,
 107977,
 107992,
 108233,
 108234,
 108235,
 109038,
 109945,
 110280,
 110301,
 111027,
 111042,
 111406,
 111531,
 111709,
 111710,
 111980,
 112471,
 112558,
 113188,
 114583,
 114908,
 114911,
 115029,
 115091,
 116251,
 116534,
 117087]

In [41]:
#hotel bookings that have no guests don't seem right hence will be taken out
hotelBookings.drop(hotelBookings.index[noGuests], inplace = True)

In [42]:
#seperating resort and city hotels
resort = hotelBookings.loc[(hotelBookings['hotel'] == 'Resort Hotel')]
city = hotelBookings.loc[(hotelBookings['hotel'] == 'City Hotel')]

## Questions
#### 1. With the use of classification can I find the best week in the year to book a hotel?
#### 2. With the use of classification can I determine if a booking will be cancelled?